<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FSTTests" thread-count="4" parallel="classes">
    <!-- Comment out groups to run everything -->
	<groups>
        <run>
            <include name="HeaderTests" />
        </run>
    </groups>
    <parameter name="username" value="admin" />
    <parameter name="password" value="password" />
    <test name="FSTActivities">
        <classes>
            <class name="demo.Activity1" />
            <class name="demo.Activity2" />
            <class name="demo.Activity3" />
            <class name="demo.Activity4_DemoOne" />
            <class name="demo.Activity4_DemoTwo" />
            <class name="demo.Activity5" />
            <class name="demo.Activity6" />
            <class name="demo.Activity7" />
        </classes>
    </test>
</suite>